/* moviedetail.css */

.movie-details-container {
    background-color: #000; /* Fallback color if the image is not available */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .movie-details {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background for movie details */
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    max-width: 800px; /* Adjust the max-width as needed */
    width: 100%;
  }
  
  .movie-title {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .movie-description {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .play-button {
    background-color: #e50914; /* Netflix red */
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .play-button:hover {
    background-color: #ff0000; /* Darker red on hover */
  }
  